modules = ["python-3.11"]
[objectStorage]
defaultBucketID = "replit-objstore-768be857-6090-4ab8-ab3c-e784a7e702e8"

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "web-server"

[[workflows.workflow]]
name = "web-server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 server.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
